*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Incluir archivos de configuración importantes
!/.idea/modules.xml
!/.idea/assetWizardSettings.xml

# Asegúrate de que estos archivos existan en el repositorio
!/settings.gradle
!/build.gradle
